{% extends 'base.html' %}

{% block header %}
{% block title %}EDH: {{ title }} {% endblock %}
{% endblock %}

{% block app_content %}
<h1>{{ title }}</h1>
<h2>{{ data['autor'] }}: {{ data['titel'] }}</h2>
<h3 class="uri">{{ _("Canonical URI") }}:<br class="visible-xs" />
    <span id="canonical_uri">
        <a href="./edh/bibliographie/{{data['b_nr']}}">
            {{ request.url }}
            ({{_('Last Updates')}}: {{data['datum']}}, {{data['bearbeiter']}})
        </a>
        <i class="far fa-copy fa-lg" style="color:#1F6B3B; padding-bottom:0px; cursor:pointer; margin-left:.5em;margin-right:.5em" onclick="copy2clipboard('{{ _('copied!') }}')" alt="{{ _('Copy URI to clipboard')}}" title="{{ _('Copy URI to clipboard')}}"></i>
    </span>
    <span id="copy_button" style="color:#aa2222; font-size:0.7em"></span>
</h3>
<div>
    <h3>{{ _('Work / contribution') }}</h3>
    <div class="detail_block_content">
        <section class="detail_block_content_row">
            <div class="detail_block_content_row_header">{{ _('author') }}:</div>
            <div class="detail_block_content_row_text">
                {% set author_list = data['autor'].split(' - ') %}
                {% for author in author_list %}
                    <i class="fas fa-external-link-alt"></i> <a href="./bibliographie/suche?autor={{ author }}">{{ author }}</a> &nbsp;
                {% endfor %}
            </div>
        </section>
        {% if data['titel'] %}
        <section class="detail_block_content_row">
            <div class="detail_block_content_row_header">{{ _('title:') }}</div>
            <div class="detail_block_content_row_text">{{data['titel']}}</div>
        </section>
        {% endif %}
        {% if data['publikation'] %}
        <section class="detail_block_content_row">
            <div class="detail_block_content_row_header">{{ _('publication:') }}</div>
            <div class="detail_block_content_row_text"><i class="fas fa-external-link-alt"></i> <a href="./bibliographie/suche?publikation={{ data['publikation'] }}">{{data['publikation']}}</a></div>
        </section>
        {% endif %}
        {% if data['band'] %}
        <section class="detail_block_content_row">
            <div class="detail_block_content_row_header">{{ _('Volume:') }}</div>
            <div class="detail_block_content_row_text">{{data['band']}}</div>
        </section>
        {% endif %}
        {% if data['jahr'] %}
        <section class="detail_block_content_row">
            <div class="detail_block_content_row_header">{{ _('year(s):') }}</div>
            <div class="detail_block_content_row_text">{{data['jahr']}}</div>
        </section>
        {% endif %}
        {% if data['seiten'] %}
        <section class="detail_block_content_row">
            <div class="detail_block_content_row_header">{{ _('pages') }}:</div>
            <div class="detail_block_content_row_text">{{data['seiten']}}</div>
        </section>
        {% endif %}
        {% if data['ort'] %}
        <section class="detail_block_content_row">
            <div class="detail_block_content_row_header">{{ _('town') }}:</div>
            <div class="detail_block_content_row_text">{{data['ort']}}</div>
        </section>
        {% endif %}
    </div>

    {% if data['ae'] %}
    <h3>{{ _('Cited in AE') }}</h3>
    <div class="detail_block_content">
        <section class="detail_block_content_row">
            <div class="detail_block_content_row_text" style="colspan=2">
                {% set ae_list = data['ae'].split(';') %}
                {% for entry in ae_list %}
                {{ entry.strip() }} <br />
                {% endfor %}
            </div>
        </section>
    </div>
    {% endif %}

    {% if data['zu_ae'] or data['cil'] or data['sonstigeCorpora'] %}
    <h3>{{ _('Also concerns the inscriptions') }}</h3>
    {% if data['zu_ae'] %}
    <div class="detail_block_content">
        <section class="detail_block_content_row">
            <div class="detail_block_content_row_header">AE:</div>
            <div class="detail_block_content_row_text">
            {% set ae_list = data['zu_ae'].split(';') %}
            {% for entry in ae_list %}
            {{ entry.strip() }} <br />
            {% endfor %}
            </div>
        </section>
    </div>
    {% endif %}
    {% if data['cil'] %}
    <div class="detail_block_content">
        <section class="detail_block_content_row">
            <div class="detail_block_content_row_header">CIL:</div>
            <div class="detail_block_content_row_text">
                {% set cil_list = data['cil'].split(';') %}
                {% for entry in cil_list %}
                {{ entry.strip() }} <br />
                {% endfor %}
            </div>
        </section>
    </div>
    {% endif %}
    {% if data['sonstigeCorpora'] %}
    <div class="detail_block_content">
        <section class="detail_block_content_row">
            <div class="detail_block_content_row_header">{{ _('other corpora') }}:</div>
            <div class="detail_block_content_row_text">
                {% set corpora_list = data['sonstigeCorpora'].split(';') %}
                {% for entry in corpora_list %}
                {{ entry.strip() }} <br />
                {% endfor %}
            </div>
        </section>
    </div>
    {% endif %}
    {% endif %}
    <h3>Download</h3>
    <div class="detail_block_content">
        <p style="margin-bottom:3rem;"><a href="./edh/bibliographie/{{data['b_nr']}}/json"><i class="fas fa-file-download" style="margin-right:1rem;"></i>JSON</a></p>
        <p style="margin-bottom:3rem;"><a href="http://creativecommons.org/licenses/by-sa/4.0/deed.de"><img src="./static/img/CC-BY-SA_icon.png" style="margin-bottom:2em;" /></a></p>
    </div>
</div>

{% endblock %}
{% block scripts %}
{{ super() }}
<script src=".{{url_for('static', filename='js/copy2clipboard.js')}}"></script>
{% endblock %}