{% extends 'base.html' %}

{% block header %}
{% block title %}EDH: {{ title }} {% endblock %}
{% endblock %}

{% block app_content %}
<h1>{{ title }}</h1>
<div>
    <div class="detail_block">
        <div class="detail_block_header">
            <span class="detail_block_header_text">{{ _("Canonical URI") }}:
                <span id="geo_uri">
                    <a href="https://edh-www.adw.uni-heidelberg.de/edh/bibliographie/{{data['b_nr']}}">https://edh-www.adw.uni-heidelberg.de/edh/bibliographie/{{data['b_nr']}}</a>
                    <img src=".{{url_for('static', filename='img/clippy.png')}}" style="height:23px;cursor:pointer;vertical-align:text-bottom;margin-left:0.5em;margin-top:5px" onclick="copy2clipboard('{{ _('copied!') }}')" alt="Copy URI to clipboard" title="Copy URI to clipboard"/>
                </span>
                <span id="copy_button" style="color:#aa2222; font-size:0.7em"></span>
            </span>
        </div>
        <div class="detail_block_content">
            <section class="detail_block_content_row">
                <div class="detail_block_content_row_header">{{ _('responsible individual:') }}</div>
                <div class="detail_block_content_row_text">{{data['bearbeiter']}}</div>
            </section>
            <section class="detail_block_content_row">
                <div class="detail_block_content_row_header">{{ _('last update:') }}</div>
                <div class="detail_block_content_row_text">{{data['datum']}}</div>
            </section>
        </div>
    </div>
    <div class="detail_block">
        <div class="detail_block_header">
            <span class="detail_block_header_text">{{ _('Work / contribution') }}</span>
        </div>
        <div class="detail_block_content">
            <section class="detail_block_content_row">
                <div class="detail_block_content_row_header">{{ _('author') }}:</div>
                <div class="detail_block_content_row_text">
                    {% set author_list = data['autor'].split(' - ') %}
                    {% for author in author_list %}
                        <a href="./bibliographie/suche?author={{ author }}" class="pfeil">{{ author }}</a> &nbsp;
                    {% endfor %}
                </div>
            </section>
            {% if data['titel'] %}
            <section class="detail_block_content_row">
                <div class="detail_block_content_row_header">{{ _('title:') }}</div>
                <div class="detail_block_content_row_text">{{data['titel']}}</div>
            </section>
            {% endif %}
            {% if data['publikation'] %}
            <section class="detail_block_content_row">
                <div class="detail_block_content_row_header">{{ _('publication:') }}</div>
                <div class="detail_block_content_row_text"><a href="./bibliographie/suche?publication={{ data['publikation'] }}" class="pfeil">{{data['publikation']}}</a></div>
            </section>
            {% endif %}
            {% if data['band'] %}
            <section class="detail_block_content_row">
                <div class="detail_block_content_row_header">{{ _('Volume:') }}</div>
                <div class="detail_block_content_row_text">{{data['band']}}</div>
            </section>
            {% endif %}
            {% if data['jahr'] %}
            <section class="detail_block_content_row">
                <div class="detail_block_content_row_header">{{ _('year(s):') }}</div>
                <div class="detail_block_content_row_text">{{data['jahr']}}</div>
            </section>
            {% endif %}
            {% if data['seiten'] %}
            <section class="detail_block_content_row">
                <div class="detail_block_content_row_header">{{ _('pages') }}:</div>
                <div class="detail_block_content_row_text">{{data['seiten']}}</div>
            </section>
            {% endif %}
            {% if data['ort'] %}
            <section class="detail_block_content_row">
                <div class="detail_block_content_row_header">{{ _('town') }}:</div>
                <div class="detail_block_content_row_text">{{data['ort']}}</div>
            </section>
            {% endif %}
        </div>
    </div>
    {% if data['ae'] %}
    <div class="detail_block">
        <div class="detail_block_header">
            <span class="detail_block_header_text">{{ _('Cited in AE') }}</span>
        </div>
        <div class="detail_block_content">
            <section class="detail_block_content_row">
                <div class="detail_block_content_row_text" style="colspan=2">
                    {% set ae_list = data['ae'].split(';') %}
                    {% for entry in ae_list %}
                    <a href="./bibliographie/suche?ae={{ entry }}" class="pfeil break">{{ entry.strip() }}</a>
                    {% endfor %}
                </div>

            </section>
        </div>
    </div>
    {% endif %}
    {% if data['zu_ae'] or data['cil'] or data['sonstigeCorpora'] %}
    <div class="detail_block" style="margin-bottom:2em;">
        <div class="detail_block_header">
            <span class="detail_block_header_text">{{ _('Also concerns the inscriptions') }}</span>
        </div>
        {% if data['zu_ae'] %}
        <div class="detail_block_content">
            <section class="detail_block_content_row">
                <div class="detail_block_content_row_header">AE:</div>
                <div class="detail_block_content_row_text">
                {% set ae_list = data['zu_ae'].split(';') %}
                {% for entry in ae_list %}
                <a href="./bibliographie/suche?on_ae={{ entry }}" class="pfeil break">{{ entry.strip() }}</a>
                {% endfor %}
                </div>
            </section>
        </div>
        {% endif %}
        {% if data['cil'] %}
        <div class="detail_block_content">
            <section class="detail_block_content_row">
                <div class="detail_block_content_row_header">CIL:</div>
                <div class="detail_block_content_row_text">
                    {% set cil_list = data['cil'].split(';') %}
                    {% for entry in cil_list %}
                    <a href="./bibliographie/suche?cil={{ entry }}" class="pfeil break">{{ entry.strip() }}</a>
                    {% endfor %}
                </div>
            </section>
        </div>
        {% endif %}
        {% if data['sonstigeCorpora'] %}
        <div class="detail_block_content">
            <section class="detail_block_content_row">
                <div class="detail_block_content_row_header">{{ _('other corpora') }}:</div>
                <div class="detail_block_content_row_text">
                    {% set corpora_list = data['sonstigeCorpora'].split(';') %}
                    {% for entry in corpora_list %}
                    <a href="./bibliographie/suche?other_corpora={{ entry }}" class="pfeil break">{{ entry.strip() }}</a>
                    {% endfor %}
                </div>
            </section>
        </div>
        {% endif %}
    </div>
    {% endif %}
</div>

{% endblock %}
{% block scripts %}
{{ super() }}
<script src=".{{url_for('static', filename='js/copy2clipboard.js')}}"></script>
{% endblock %}