{% extends "base.html" %}

{% block app_content %}
<h1>{{ title }}</h1>

<form action="" method="get">

    <div class="form-group row">
        {{ form.b_nr.label(class='col-sm-2 col-form-label') }}
        <div class="col-sm-10">
            {{ form.b_nr(class='form-control') }}
        </div>
    </div>

    <div class="form-group row">
        {{ form.author.label(class='col-sm-2 col-form-label') }}
        <div class="col-sm-10">
            {{ form.author(class='form-control autocomplete ui-autocomplete-input', id='autor') }}
        </div>
    </div>

    <div class="form-group row">
        {{ form.title.label(class='col-sm-2 col-form-label') }}
        <div class="col-sm-10">
            {{ form.title(class='form-control') }}
        </div>
    </div>

    <div class="form-group row">
        {{ form.publication.label(class='col-sm-2 col-form-label') }}
        <div class="col-sm-10">
            {{ form.publication(class='form-control autocomplete ui-autocomplete-input', id='publikation') }}
        </div>
    </div>

    <div class="form-group row">
        {{ form.volume.label(class='col-sm-2 col-form-label') }}
        <div class="col-sm-10">
            {{ form.volume(class='form-control') }}
        </div>
    </div>

    <div class="form-group row">
        {{ form.years.label(class='col-sm-2 col-form-label') }}
        <div class="col-sm-10">
            {{ form.years(class='form-control') }}
        </div>
    </div>

    <div class="form-group row">
        {{ form.pages.label(class='col-sm-2 col-form-label') }}
        <div class="col-sm-10">
            {{ form.pages(class='form-control') }}
        </div>
    </div>

    <div class="form-group row">
        {{ form.town.label(class='col-sm-2 col-form-label') }}
        <div class="col-sm-10">
            {{ form.town(class='form-control') }}
        </div>
    </div>

    <div class="form-group row">
        {{ form.ae.label(class='col-sm-2 col-form-label') }}
        <div class="col-sm-10">
            {{ form.ae(class='form-control') }}
        </div>
    </div>

    <div class="form-group row">
        {{ form.on_ae.label(class='col-sm-2 col-form-label') }}
        <div class="col-sm-10">
            {{ form.on_ae(class='form-control') }}
        </div>
    </div>

    <div class="form-group row">
        {{ form.cil.label(class='col-sm-2 col-form-label') }}
        <div class="col-sm-10">
            {{ form.cil(class='form-control') }}
        </div>
    </div>

    <div class="form-group row">
        {{ form.other_corpora.label(class='col-sm-2 col-form-label') }}
        <div class="col-sm-10">
            {{ form.other_corpora(class='form-control') }}
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">

        </div>
        <div class="col-sm-10">
            <button type="submit" class="btn">{{ _('Search...') }}</button> <button type="reset" class="btn" style="margin-left:1em;">{{ _('Reset...') }}</button>
        </div>
    </div>

</form>
{% endblock %}
{% block scripts %}
{{ super() }}
<script>
    $("input#autor").autocomplete({source:"/bibliographie/ac/autor",minLength:3,delay:0})
    $("input#publikation").autocomplete({source:"/bibliographie/ac/publikation",minLength:3,delay:0})
</script>
{% endblock %}