{% extends "base.html" %}

{% block app_content %}
<h1>{{ title }}</h1>
<h2>{{ subtitle }}</h2>

<form action="" method="get">

    <div class="form-group row">
        {{ form.b_nr.label(class='col-sm-2 col-form-label') }}
        <div class="col-sm-10">
            {{ form.b_nr(class='form-control') }}
        </div>
    </div>

    <div class="form-group row">
        {{ form.autor.label(class='col-sm-2 col-form-label') }}
        <div class="col-sm-10">
            {{ form.autor(class='form-control autocomplete ui-autocomplete-input', id='autor') }}
        </div>
    </div>

    <div class="form-group row">
        {{ form.titel.label(class='col-sm-2 col-form-label') }}
        <div class="col-sm-10">
            {{ form.titel(class='form-control') }}
        </div>
    </div>

    <div class="form-group row">
        {{ form.publikation.label(class='col-sm-2 col-form-label') }}
        <div class="col-sm-10">
            {{ form.publikation(class='form-control autocomplete ui-autocomplete-input', id='publikation') }}
        </div>
    </div>

    <div class="form-group row">
        {{ form.band.label(class='col-sm-2 col-form-label') }}
        <div class="col-sm-10">
            {{ form.band(class='form-control') }}
        </div>
    </div>

    <div class="form-group row">
        {{ form.jahr.label(class='col-sm-2 col-form-label') }}
        <div class="col-sm-10">
            {{ form.jahr(class='form-control') }}
        </div>
    </div>

    <div class="form-group row">
        {{ form.seiten.label(class='col-sm-2 col-form-label') }}
        <div class="col-sm-10">
            {{ form.seiten(class='form-control') }}
        </div>
    </div>

    <div class="form-group row">
        {{ form.ort.label(class='col-sm-2 col-form-label') }}
        <div class="col-sm-10">
            {{ form.ort(class='form-control') }}
        </div>
    </div>

    <div class="form-group row">
        {{ form.ae.label(class='col-sm-2 col-form-label') }}
        <div class="col-sm-10">
            {{ form.ae(class='form-control') }}
        </div>
    </div>

    <div class="form-group row">
        {{ form.zu_ae.label(class='col-sm-2 col-form-label') }}
        <div class="col-sm-10">
            {{ form.zu_ae(class='form-control') }}
        </div>
    </div>

    <div class="form-group row">
        {{ form.cil.label(class='col-sm-2 col-form-label') }}
        <div class="col-sm-10">
            {{ form.cil(class='form-control') }}
        </div>
    </div>

    <div class="form-group row">
        {{ form.sonstige.label(class='col-sm-2 col-form-label') }}
        <div class="col-sm-10">
            {{ form.sonstige(class='form-control') }}
        </div>
    </div>
    <hr />
    <p>{{_("Search Options")}}</p>
    <div class="form-group row">
        {{ form.sort.label(class='col-sm-2 col-form-label') }}
        <div class="col-sm-10">
            {{ form.sort(class='form-control', style='width:20%') }}
        </div>
    </div>
    <div class="form-group row">
        {{ form.anzahl.label(class='col-sm-2 col-form-label') }}
        <div class="col-sm-10">
            {{ form.anzahl(class='form-control', style='width:20%') }}
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary btn-lg">{{ _('Search...') }}</button> <button type="reset" class="btn btn-secondary btn-lg" style="margin-left:1em;">{{ _('Reset...') }}</button>
        </div>
    </div>

</form>
{% endblock %}
{% block scripts %}
{{ super() }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.12/css/bootstrap-select.min.css" integrity="sha256-l3FykDBm9+58ZcJJtzcFvWjBZNJO40HmvebhpHXEhC0=" crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.12/js/bootstrap-select.min.js" integrity="sha256-+o/X+QCcfTkES5MroTdNL5zrLNGb3i4dYdWPWuq6whY=" crossorigin="anonymous"></script>
<script>
    $("input#autor").autocomplete({source:"./bibliographie/ac/autor",minLength:3,delay:0})
    $("input#publikation").autocomplete({source:"./bibliographie/ac/publikation",minLength:0,selectFirst:true,delay:0, select: function( event, ui ) {}})
    $('select').selectpicker();
</script>
{% endblock %}