{% extends 'base.html' %}

{% block header %}
{% block title %}EDH: {{ title }} {% endblock %}
{% endblock %}

{% block app_content %}
<h1>{{ title }}</h1>
<h2>{{ data['name'] | safe }}</h2>
<h3 class="uri">{{ _("Canonical URI") }}:<br class="visible-xs" />
    <span id="canonical_uri">
        <a href="./edh/geographie/{{data['id']}}">
            {{ request.url }}/edh/geographie/{{data['id']}} ({{_('Last Updates')}}: {{data['datum']}}
            {% if data['bearbeiter'] != "Db2inst1" and data['bearbeitet'] %}, {{data['bearbeiter']}}{% else %}, {{_('provisionally worked out')}}{%endif%})
        </a>
        <i class="far fa-copy fa-lg" style="color:#1F6B3B; padding-bottom:0px; cursor:pointer; margin-left:.5em;margin-right:.5em" onclick="copy2clipboard('{{ _('copied!') }}')" alt="{{ _('Copy URI to clipboard')}}" title="{{ _('Copy URI to clipboard')}}"></i>
    </span>
    <span id="copy_button" style="color:#aa2222; font-size:0.7em"></span>
</h3>
<div>
    <div class="detail_block" style="margin-bottom:2em;">

        <div class="detail_block_content">
            <section class="detail_block_content_row">
                <div id="map_canvas" style="width:100%;height:350px;border: 1px solid #aaa;margin-bottom:1.5em; margin-left:8px"></div>
            </section>
            <section class="detail_block_content_row">
                <div class="detail_block_content_row_header">{{ _('province') }}:</div>
                <div class="detail_block_content_row_text"><i class="fas fa-external-link-alt"></i> <a href="./edh/geographie/{{ data['provinz_id'] }}">{{ data['provinz'] }}</a></div>
            </section>
            <section class="detail_block_content_row">
                <div class="detail_block_content_row_header">{{ _('country') }}:</div>
                <div class="detail_block_content_row_text">{{data['land']}}</div>
            </section>
            <section class="detail_block_content_row">
                <div class="detail_block_content_row_header">{{ _('ancient find spot') }}:</div>
                <div class="detail_block_content_row_text">
                    {% if data['fo_antik'] %}
                        {{data['fo_antik']}}
                    {% else %}
                        &nbsp;
                    {% endif %}
                </div>
            </section>
            <section class="detail_block_content_row">
                <div class="detail_block_content_row_header">{{ _('modern find spot') }}:</div>
                <div class="detail_block_content_row_text">
                    {% if data['fo_modern'] %}
                        {{data['fo_modern']}}
                    {% else %}
                        &nbsp;
                    {% endif %}
                </div>
            </section>
            <section class="detail_block_content_row">
                <div class="detail_block_content_row_header">{{ _('find spot') }}:</div>
                <div class="detail_block_content_row_text">
                    {% if data['fundstelle'] %}
                        {{data['fundstelle']|replace("{","<span style='color:#1F6B3B'>")|replace("}","</span>")|safe}}
                    {% else %}
                        &nbsp;
                    {% endif %}
                </div>
            </section>
            <section class="detail_block_content_row">
                <div class="detail_block_content_row_header">{{ _('verw_bezirk') }}:</div>
                <div class="detail_block_content_row_text">
                    {% if data['verw_bezirk'] %}
                        {{data['verw_bezirk']}}
                    {% else %}
                        &nbsp;
                    {% endif %}
                </div>
            </section>
            <section class="detail_block_content_row">
                <div class="detail_block_content_row_header">{{ _('comment') }}:</div>
                <div class="detail_block_content_row_text">
                    {% if data['kommentar'] %}
                        {{ data['kommentar'] | replace("\n", "<br/>") | safe }}
                    {% else %}
                        &nbsp;
                    {% endif %}
                </div>
            </section>
            <section class="detail_block_content_row">
                <div class="detail_block_content_row_header">{{ _('Pleiades-ID') }}:</div>
                <div class="detail_block_content_row_text">
                    {% if data['pleiades_id_1'] %}
                        <i class="fas fa-external-link-alt"></i>
                        <a href="https://pleiades.stoa.org/places/{{data['pleiades_id_1']}}">{{data['pleiades_id_1']}}</a>
                    {% else %}
                        &nbsp;
                    {% endif %}
                </div>
            </section>
            <section class="detail_block_content_row">
                <div class="detail_block_content_row_header">{{ _('Trismegistos Geo-ID') }}:</div>
                <div class="detail_block_content_row_text">
                    {% if data['trismegistos_geo_id'] %}
                        <i class="fas fa-external-link-alt"></i>
                        <a href="https://www.trismegistos.org/place/{{data['trismegistos_geo_id']}}">{{data['trismegistos_geo_id']}}</a>
                    {% else %}
                        &nbsp;
                    {% endif %}
                </div>
            </section>
            <section class="detail_block_content_row">
                <div class="detail_block_content_row_header">{{ _('Geonames ID') }}:</div>
                <div class="detail_block_content_row_text">
                    {% if data['geonames_id_1'] %}
                        <i class="fas fa-external-link-alt"></i>
                        <a href="https://www.geonames.org/{{data['geonames_id_1']}}">{{data['geonames_id_1']}}</a>
                    {% else %}
                        &nbsp;
                    {% endif %}
                </div>
            </section>
            <section class="detail_block_content_row">
                <div class="detail_block_content_row_header">{{ _('Work Status') }}:</div>
                <div class="detail_block_content_row_text">
                    {% if data['bearbeitet'] %}{{_('completed')}}
                    {% else %}{{_('provisional')}}
                    {% endif %}
                </div>
            </section>
        </div>
    </div>
    <div><h3>{{inscriptions_list|length}} {{ _('Inscriptions linked to this findspot')}}</h3></div>
    <div style="margin-bottom:2em;">
    {% for entry in inscriptions_list %}
    <i class="fas fa-external-link-alt"></i>
    <a href="./edh/inschrift/{{entry['hd_nr']}}">{{ entry['hd_nr'] }}: {{entry['titel']|safe}}</a><br />
    {% endfor %}
    </div>
    <h3>Download</h3>
    <div class="detail_block_content">
        <p style="margin-bottom:3rem;"><a href="./edh/geographie/{{data['id']}}/json"><i class="fas fa-file-download" style="margin-right:1rem;"></i>JSON</a></p>
        <p style="margin-bottom:3rem;"><a href="http://creativecommons.org/licenses/by-sa/4.0/deed.de"><img src="./static/img/CC-BY-SA_icon.png" style="margin-bottom:2em;" /></a></p>
    </div>
</div>

{% endblock %}
{% block scripts %}
{{ super() }}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"></script>
<script src=".{{url_for('static', filename='js/copy2clipboard.js')}}"></script>
<script src=".{{url_for('geography.static', filename='js/bing.js')}}"></script>
<script src='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet' />
<script type="text/javascript">
    var BING_KEY = 'AhpTG22M_rzQEp8Q4c4edHpmIWXhwrQE65lztW3S7MsvB4cpUuya0fUgJscUfXMa'
    var mbAttr = 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
            '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
            'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        mbUrl = 'https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1Ijoid2VuYW11biIsImEiOiJCcUl0ZWRzIn0.zxs-a0hWY3La5kF4CWAVug';
    var streets  = L.tileLayer(mbUrl, {id: 'mapbox/streets-v11', minZoom:5, attribution: mbAttr, tileSize: 512, zoomOffset: -1}),
        sat = L.tileLayer(mbUrl, {id: 'mapbox/satellite-streets-v11', minZoom:5, attribution: mbAttr, tileSize: 512, zoomOffset: -1}),
        pelagios = L.tileLayer('https://dh.gu.se/tiles/imperium/{z}/{x}/{y}.png', {id: 'pelagios', maxZoom:11, minZoom:5, attribution: 'Map Data: <a href="https://dare.ht.lu.se">DARE</a>'}),
        bing_satellite = new L.BingLayer(BING_KEY, {'type': 'AerialWithLabels'}),
        openTopoMap = Thunderforest_Landscape = L.tileLayer('https://{s}.tile.thunderforest.com/landscape/{z}/{x}/{y}.png?apikey={apikey}', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a>, &copy; <a href="https://www.thunderforest.com/">Thunderforest</a>',
            apikey: 'aaeccd3a44a74ce58324c2a455c58a98',
            minZoom: 5});
    var map = L.map('map_canvas', {
        center: [{% if data['koordinaten_1'] %}{{data['koordinaten_1']}}{% else %} 47,11 {% endif %}],
        zoom: 4,
        layers: [pelagios],
        zoomControl: true,
        preferCanvas: true,
        scrollWheelZoom: false
    });
    var baseLayers = {
        "Streets": streets,
        "Mapbox Satellite": sat,
        "Bing Satellite": bing_satellite,
        "Pelagios": pelagios,
        "Topo": openTopoMap
    };
    map.zoomControl.setPosition('topright');
    var overlays = {};
    L.control.layers(baseLayers, overlays, {position: 'topleft'}).addTo(map);
    {% if data['koordinaten_1'] %}
    var marker = L.marker([{{data['koordinaten_1']}}]).addTo(map);
    {% endif %}
</script>
{% endblock %}