{% extends 'base.html' %}

{% block header %}
{% block title %}EDH: {{ title }} {% endblock %}
{% endblock %}

{% block app_content %}
<h1>{{ title }}</h1>
<div class="row" style="padding-top:2em;">
    <div class="col-md-3">
        <div class="panel panel-default" style="height:75%">
            <a href="http://www2.uah.es/imagines_cilii">
                <div style="background: url('./static/img/links_cil_2.png') no-repeat;background-size: 100%;height:150px"></div>
                <div class="panel-heading" style="text-align:center;font-size:15px;background-color: #d4f6d4; color: #1F6B3B;">{{ _("CIL II2 Conventus Astigitanus and Cordubensis (photos)") }}</div>
            </a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default" style="height:75%">
            <a href="http://www.currentepigraphy.org/">
                <div style="background: url('./static/img/links_current_epigraphy.png') no-repeat;background-size: 100%;height:150px"></div>
                <div class="panel-heading" style="text-align:center;font-size:15px;background-color: #d4f6d4; color: #1F6B3B;">{{ _("Current Epigraphy") }}</div>
            </a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default" style="height:75%">
            <a href="http://www.unil.ch/ductus/">
                <div style="background: url('./static/img/links_ductus.png') no-repeat;background-size: 100%;height:150px"></div>
                <div class="panel-heading" style="text-align:center;font-size:15px;background-color: #d4f6d4; color: #1F6B3B;">{{ _("Ductus - Association internationale pour l'étude des inscriptions mineures") }}</div>
            </a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default" style="height:75%">
            <a href="http://www.eagle-eagle.it/">
                <div style="background: url('./static/img/links_eagle.png') no-repeat;background-size: 100%;height:150px"></div>
                <div class="panel-heading" style="text-align:center;font-size:15px;background-color: #d4f6d4; color: #1F6B3B;">{{ _("Electronic Archive of Greek and Latin Epigraphy (EAGLE)") }}</div>
            </a>
        </div>
    </div>
</div>

<div class="row" style="padding-top:1em;">
    <div class="col-md-3">
        <div class="panel panel-default" style="height:75%">
            <a href="http://www.edb.uniba.it/">
                <div style="background: url('./static/img/links_edb.png') no-repeat;background-size: 100%;height:150px"></div>
                <div class="panel-heading" style="text-align:center;font-size:15px;background-color: #d4f6d4; color: #1F6B3B;">{{ _("Epigraphic Database Bari (EDB)") }}</div>
            </a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default" style="height:75%">
            <a href="http://www.edr-edr.it/Italiano/index_it.php">
                <div style="background: url('./static/img/links_edr.png') no-repeat;background-size: 100%;height:150px"></div>
                <div class="panel-heading" style="text-align:center;font-size:15px;background-color: #d4f6d4; color: #1F6B3B;">{{ _("Epigraphic Database Rome (EDR)") }}</div>
            </a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default" style="height:75%">
            <a href="http://db.edcs.eu/epigr/epi_de.php">
                <div style="background: url('./static/img/links_edcs.png') no-repeat;background-size: 100%;height:150px"></div>
                <div class="panel-heading" style="text-align:center;font-size:15px;background-color: #d4f6d4; color: #1F6B3B;">{{ _("Epigraphik-Datenbank Clauss/Slaby (EDCS)") }}</div>
            </a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default" style="height:75%">
            <a href="http://www.epigraphica-romana.fr/">
                <div style="background: url('./static/img/links_epigr_romana.png') no-repeat;background-size: 100%;height:150px"></div>
                <div class="panel-heading" style="text-align:center;font-size:15px;background-color: #d4f6d4; color: #1F6B3B;">{{ _("Epigraphica Romana (EpRom)") }}</div>
            </a>
        </div>
    </div>
</div>

<div class="row" style="padding-top:1em;">
    <div class="col-md-3">
        <div class="panel panel-default" style="height:75%">
            <a href="http://www.epigraphik.uni-hamburg.de/">
                <div style="background: url('./static/img/links_epigr_hamburg.png') no-repeat;background-size: 100%;height:150px"></div>
                <div class="panel-heading" style="text-align:center;font-size:15px;background-color: #d4f6d4; color: #1F6B3B;">{{ _("Epigraphic database for ancient Asia Minor") }}</div>
            </a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default" style="height:75%">
            <a href="http://www.lupa.at/">
                <div style="background: url('./static/img/links_lupa.png') no-repeat;background-size: 100%;height:150px"></div>
                <div class="panel-heading" style="text-align:center;font-size:15px;background-color: #d4f6d4; color: #1F6B3B;">{{ _("Ubi erat Lupa / Bilddatenbank zu antiken Steindenkmälern") }}</div>
            </a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default" style="height:75%">
            <a href="http://eda-bea.es/">
                <div style="background: url('./static/img/links_hispania.png') no-repeat;background-size: 100%;height:150px"></div>
                <div class="panel-heading" style="text-align:center;font-size:15px;background-color: #d4f6d4; color: #1F6B3B;">{{ _("Hispania Epigraphica Online (HEpOnl)") }}</div>
            </a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default" style="height:75%">
            <a href="http://www.philippoi.de/">
                <div style="background: url('./static/img/links_philippoi.png') no-repeat;background-size: 100%;height:150px"></div>
                <div class="panel-heading" style="text-align:center;font-size:15px;background-color: #d4f6d4; color: #1F6B3B;">{{ _("Inschriften von Philippi im Bild") }}</div>
            </a>
        </div>
    </div>
</div>

<div class="row" style="padding-top:1em;">
    <div class="col-md-3">
        <div class="panel panel-default" style="height:75%">
            <a href="http://insaph.kcl.ac.uk/index.html">
                <div style="background: url('./static/img/links_IAphr.png') no-repeat;background-size: 100%;height:150px"></div>
                <div class="panel-heading" style="text-align:center;font-size:15px;background-color: #d4f6d4; color: #1F6B3B;">{{ _("Inscriptions of Aphrodisias Project") }}</div>
            </a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default" style="height:75%">
            <a href="https://igcyr.unibo.it/">
                <div style="background: url('./static/img/links_IGrCyr.png') no-repeat;background-size: 100%;height:150px"></div>
                <div class="panel-heading" style="text-align:center;font-size:15px;background-color: #d4f6d4; color: #1F6B3B;">{{ _("Inscriptions of Greek Cyrenaica (IGCyr) / Greek Verse Inscriptions of Cyrenaica (GVCyr)") }}</div>
            </a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default" style="height:75%">
            <a href="http://irt.kcl.ac.uk/irt2009/">
                <div style="background: url('./static/img/links_IRT.png') no-repeat;background-size: 100%;height:150px"></div>
                <div class="panel-heading" style="text-align:center;font-size:15px;background-color: #d4f6d4; color: #1F6B3B;">{{ _("Inscriptions of Roman Tripolitania") }}</div>
            </a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default" style="height:75%">
            <a href="http://gams.uni-graz.at/epsg">
                <div style="background: url('./static/img/links_graz.png') no-repeat;background-size: 100%;height:150px"></div>
                <div class="panel-heading" style="text-align:center;font-size:15px;background-color: #d4f6d4; color: #1F6B3B;">{{ _("Onlineportal Alte Geschichte und Altertumskunde Graz (epigraphic collection, squeezes)") }}</div>
            </a>
        </div>
    </div>
</div>

<div class="row" style="padding-top:1em;">
    <div class="col-md-3">
        <div class="panel panel-default" style="height:75%">
            <a href="http://epigraphy.packhum.org/inscriptions/main">
                <div style="background: url('./static/img/links_phi.png') no-repeat;background-size: 100%;height:150px"></div>
                <div class="panel-heading" style="text-align:center;font-size:15px;background-color: #d4f6d4; color: #1F6B3B;">{{ _("PHI Greek Inscriptions") }}</div>
            </a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default" style="height:75%">
            <a href="http://usepigraphy.brown.edu/">
                <div style="background: url('./static/img/links_us_epigraphy.png') no-repeat;background-size: 100%;height:150px"></div>
                <div class="panel-heading" style="text-align:center;font-size:15px;background-color: #d4f6d4; color: #1F6B3B;">{{ _("US Epigraphy Project") }}</div>
            </a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default" style="height:75%">
            <a href="https://romaninscriptionsofbritain.org/">
                <div style="background: url('./static/img/links_rib.png') no-repeat;background-size: 100%;height:150px"></div>
                <div class="panel-heading" style="text-align:center;font-size:15px;background-color: #d4f6d4; color: #1F6B3B;">{{ _("Roman Inscriptions of Britain (RIB)") }}</div>
            </a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default" style="height:75%">
            <a href="http://vindolanda.csad.ox.ac.uk/">
                <div style="background: url('./static/img/links_vindolanda.png') no-repeat;background-size: 100%;height:150px"></div>
                <div class="panel-heading" style="text-align:center;font-size:15px;background-color: #d4f6d4; color: #1F6B3B;">{{ _("Vindolanda Tablets Online") }}</div>
            </a>
        </div>
    </div>
</div>

<h2>{{_("Institutions")}}</h2>
<div class="row" style="padding-top:1em;">
    <div class="col-md-3">
        <div class="panel panel-default" style="height:75%">
            <a href="http://www.asgle.org/">
                <div style="background: url('./static/img/links_asgle.png') no-repeat;background-size: 100%;height:150px"></div>
                <div class="panel-heading" style="text-align:center;font-size:15px;background-color: #d4f6d4; color: #1F6B3B;">{{ _("American Society of Greek and Latin Epigraphy (ASGLE)") }}</div>
            </a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default" style="height:75%">
            <a href="https://www.aiegl.org/">
                <div style="background: url('./static/img/links_aiegl.png') no-repeat;background-size: 100%;height:150px"></div>
                <div class="panel-heading" style="text-align:center;font-size:15px;background-color: #d4f6d4; color: #1F6B3B;">{{ _("Association Internationale d'Épigraphie Grecque et Latine (AIEGL)") }}</div>
            </a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default" style="height:75%">
            <a href="http://www.csad.ox.ac.uk/BES">
                <div style="background: url('./static/img/links_bes.png') no-repeat;background-size: 100%;height:150px"></div>
                <div class="panel-heading" style="text-align:center;font-size:15px;background-color: #d4f6d4; color: #1F6B3B;">{{ _("British Epigraphy Society") }}</div>
            </a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default" style="height:75%">
            <a href="https://epigraphy.osu.edu/">
                <div style="background: url('./static/img/links_ceps.png') no-repeat;background-size: 100%;height:150px"></div>
                <div class="panel-heading" style="text-align:center;font-size:15px;background-color: #d4f6d4; color: #1F6B3B;">{{ _("Center for Epigraphical and Palaeographical Studies") }}</div>
            </a>
        </div>
    </div>
</div>

<div class="row" style="padding-top:1em;">
    <div class="col-md-3">
        <div class="panel panel-default" style="height:75%">
            <a href="http://terraitalia.altervista.org/">
                <div style="background: url('./static/img/links_ti.png') no-repeat;background-size: 100%;height:150px"></div>
                <div class="panel-heading" style="text-align:center;font-size:15px;background-color: #d4f6d4; color: #1F6B3B;">{{ _("Terra Italia. Associazione per lo sviluppo e la diffusione degli studi sull'Italia romana") }}</div>
            </a>
        </div>
    </div>
</div>

<h2>{{_("Congresses / Meetings / Workshops")}}</h2>
<div class="row" style="padding-top:1em;">
    <div class="col-md-3">
        <div class="panel panel-default" style="height:75%">
            <a href="http://ciegl.classics.ox.ac.uk/">
                <div style="background: url('./static/img/links_13_congr.png') no-repeat;background-size: 100%;height:150px"></div>
                <div class="panel-heading" style="text-align:center;font-size:15px;background-color: #d4f6d4; color: #1F6B3B;">{{ _("XIIIth International Congress of Greek and Latin Epigraphy (2007, Oxford)") }}</div>
            </a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default" style="height:75%">
            <a href="http://www.uni-heidelberg.de/institute/sonst/adw/edh/alle/EAGLE-Convegno_Nov2008-programma.pdf">
                <div style="background: url('./static/img/links_eagle_convegno.png') no-repeat;background-size: 100%;height:150px"></div>
                <div class="panel-heading" style="text-align:center;font-size:15px;background-color: #d4f6d4; color: #1F6B3B;">{{ _("Convegno Internazionale EAGLE (2008, Roma)") }}</div>
            </a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default" style="height:75%">
            <a href="https://epicongr2017.univie.ac.at/en/home/">
                <div style="background: url('./static/img/links_15_congr.png') no-repeat;background-size: 100%;height:150px"></div>
                <div class="panel-heading" style="text-align:center;font-size:15px;background-color: #d4f6d4; color: #1F6B3B;">{{ _("XVth International Congress of Greek and Latin Epigraphy (2017, Vienna)") }}</div>
            </a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default" style="height:75%">
            <a href="http://epigraphy.info/workshop_1.html">
                <div style="background: url('./static/img/links_epi_workshop_1.png') no-repeat;background-size: 100%;height:150px"></div>
                <div class="panel-heading" style="text-align:center;font-size:15px;background-color: #d4f6d4; color: #1F6B3B;">{{ _("Ist epigraphy.info Workshop (2018, Heidelberg)") }}</div>
            </a>
        </div>
    </div>
</div>

<div class="row" style="padding-top:1em;">
    <div class="col-md-3">
        <div class="panel panel-default" style="height:75%">
            <a href="http://epigraphy.info/workshop_2.html">
                <div style="background: url('./static/img/links_epi_workshop_2.png') no-repeat;background-size: 100%;height:150px"></div>
                <div class="panel-heading" style="text-align:center;font-size:15px;background-color: #d4f6d4; color: #1F6B3B;">{{ _("2nd epigraphy.info Workshop (2018, Zadar)") }}</div>
            </a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default" style="height:75%">
            <a href="http://epigraphy.info/workshop_3.html">
                <div style="background: url('./static/img/links_epi_workshop_3.png') no-repeat;background-size: 100%;height:150px"></div>
                <div class="panel-heading" style="text-align:center;font-size:15px;background-color: #d4f6d4; color: #1F6B3B;">{{ _("3rd epigraphy.info Workshop (2018, Vienna)") }}</div>
            </a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default" style="height:75%">
            <a href="http://epigraphy.info/workshop_4.html">
                <div style="background: url('./static/img/links_epi_workshop_3.png') no-repeat;background-size: 100%;height:150px"></div>
                <div class="panel-heading" style="text-align:center;font-size:15px;background-color: #d4f6d4; color: #1F6B3B;">{{ _("4th epigraphy.info Workshop (2020, Hamburg)") }}</div>
            </a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default" style="height:75%">
            <a href="http://epigraphy.info/workshop_5.html">
                <div style="background: url('./static/img/links_epi_workshop_3.png') no-repeat;background-size: 100%;height:150px"></div>
                <div class="panel-heading" style="text-align:center;font-size:15px;background-color: #d4f6d4; color: #1F6B3B;">{{ _("5th epigraphy.info Workshop (2020, Leuven)") }}</div>
            </a>
        </div>
    </div>
</div>


<h2>{{_("Resources")}}</h2>
<div class="row" style="padding-top:1em;">
    <div class="col-md-3">
        <div class="panel panel-default" style="height:75%">
            <a href="http://www.bbaw.de/bbaw/Forschung/Forschungsprojekte/pir/de/Startseite">
                <div style="background: url('./static/img/links_pir.png') no-repeat;background-size: 100%;height:150px"></div>
                <div class="panel-heading" style="text-align:center;font-size:15px;background-color: #d4f6d4; color: #1F6B3B;">{{ _("Prosopographia Imperii Romani (PIR)") }}</div>
            </a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default" style="height:75%">
            <a href="http://www.rgzm.de/samian">
                <div style="background: url('./static/img/links_sigillata.png') no-repeat;background-size: 100%;height:150px"></div>
                <div class="panel-heading" style="text-align:center;font-size:15px;background-color: #d4f6d4; color: #1F6B3B;">{{ _("Sigillata Database") }}</div>
            </a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default" style="height:75%">
            <a href="https://trismegistos.org">
                <div style="background: url('./static/img/links_tm.png') no-repeat;background-size: 100%;height:150px"></div>
                <div class="panel-heading" style="text-align:center;font-size:15px;background-color: #d4f6d4; color: #1F6B3B;">{{ _("Trismegistos") }}</div>
            </a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default" style="height:75%">
            <a href="https://godot.date">
                <div style="background: url('./static/img/links_godot.png') no-repeat;background-size: 100%;height:150px"></div>
                <div class="panel-heading" style="text-align:center;font-size:15px;background-color: #d4f6d4; color: #1F6B3B;">{{ _("GODOT (Graph of Dated Objects and Texts)") }}</div>
            </a>
        </div>
    </div>
</div>

<h2>{{_("Classical Antiquity Links")}}</h2>
<div class="row" style="padding-top:1em;">
    <div class="col-md-3">
        <div class="panel panel-default" style="height:75%">
            <a href="http://nbn-resolving.de/urn:nbn:de:0289-20160329000">
                <div style="background: url('./static/img/links_edh_1.png') no-repeat;background-size: 100%;height:150px"></div>
                <div class="panel-heading" style="text-align:center;font-size:15px;background-color: #d4f6d4; color: #1F6B3B;">{{ _("Blick in die Historikerwerkstatt: Die Epigraphische Datenbank Heidelberg (EDH) - lateinische Inschriften der römischen Antike online") }}</div>
            </a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default" style="height:75%">
            <a href="http://doi.org/10.11588/heidok.00024187">
                <div style="background: url('./static/img/links_edh_2.png') no-repeat;background-size: 100%;height:150px"></div>
                <div class="panel-heading" style="text-align:center;font-size:15px;background-color: #d4f6d4; color: #1F6B3B;">{{ _("Epigraphic Database Heidelberg (EDH). - Or: The challenge of getting all Latin inscriptions outside Rome available 'by one click'.") }}</div>
            </a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default" style="height:75%">
            <a href="http://doi.org/10.11588/heidok.00022141">
                <div style="background: url('./static/img/links_edh_3.png') no-repeat;background-size: 100%;height:150px"></div>
                <div class="panel-heading" style="text-align:center;font-size:15px;background-color: #d4f6d4; color: #1F6B3B;">{{ _("Digital Epigraphy am Scheideweg? / Digital Epigraphy at a crossroads?") }}</div>
            </a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default" style="height:75%">
            <a href="http://doi.org/10.11588/heidok.00024397">
                <div style="background: url('./static/img/links_epi_workshop_1_report.png') no-repeat;background-size: 100%;height:150px"></div>
                <div class="panel-heading" style="text-align:center;font-size:15px;background-color: #d4f6d4; color: #1F6B3B;">{{ _("Report on the first epigraphy.info workshop in Heidelberg, March 21st-23rd, 2018") }}</div>
            </a>
        </div>
    </div>
</div>
<div class="row" style="padding-top:1em;">
    <div class="col-md-3">
        <div class="panel panel-default" style="height:75%">
            <a href="http://concordia.atlantides.org/">
                <div style="background: url('./static/img/links_concordia.png') no-repeat;background-size: 100%;height:150px"></div>
                <div class="panel-heading" style="text-align:center;font-size:15px;background-color: #d4f6d4; color: #1F6B3B;">{{ _("CONCORDIA - an interoperability framework for research materials related to ancient history") }}</div>
            </a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default" style="height:75%">
            <a href="http://www.gnomon.ku-eichstaett.de/Gnomon/Gnomon.html">
                <div style="background: url('./static/img/links_gnomon.png') no-repeat;background-size: 100%;height:150px"></div>
                <div class="panel-heading" style="text-align:center;font-size:15px;background-color: #d4f6d4; color: #1F6B3B;">{{ _("Eichstätter Informationssystem für die Klassische Altertumswissenschaft (Gnomon online)") }}</div>
            </a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default" style="height:75%">
            <a href="http://www.kirke.hu-berlin.de/ressourc/ressourc.html">
                <div style="background: url('./static/img/links_kirke.png') no-repeat;background-size: 100%;height:150px"></div>
                <div class="panel-heading" style="text-align:center;font-size:15px;background-color: #d4f6d4; color: #1F6B3B;">{{ _("KIRKE") }}</div>
            </a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default" style="height:75%">
            <a href="http://pleiades.stoa.org/">
                <div style="background: url('./static/img/links_pleiades.png') no-repeat;background-size: 100%;height:150px"></div>
                <div class="panel-heading" style="text-align:center;font-size:15px;background-color: #d4f6d4; color: #1F6B3B;">{{ _("Pleiades - historical geographic information about the Greek and Roman World in digital form") }}</div>
            </a>
        </div>
    </div>
</div>
<div class="row" style="padding-top:1em;">
    <div class="col-md-3">
        <div class="panel panel-default" style="height:75%">
            <a href="http://commons.pelagios.org/">
                <div style="background: url('./static/img/links_pelagios.png') no-repeat;background-size: 100%;height:150px"></div>
                <div class="panel-heading" style="text-align:center;font-size:15px;background-color: #d4f6d4; color: #1F6B3B;">{{ _("Pelagios Commons. Linking the places of our past") }}</div>
            </a>
        </div>
    </div>
</div>

{% endblock %}