{% extends 'base.html' %}

{% block header %}
{% block title %}EDH: {{ title }} {% endblock %}
{% endblock %}

{% block app_content %}
<h1>{{ title }}</h1>
<div>
    <div class="detail_block">
        <div class="detail_block_header">
            <span class="detail_block_header_text">Allgemeine Angaben</span>
        </div>
        <div class="detail_block_content">
            <section class="detail_block_content_row">
                <div class="detail_block_content_row_header">B-Nr:</div>
                <div class="detail_block_content_row_text">{{data['b_nr']}}</div>
            </section>
            <section class="detail_block_content_row">
                <div class="detail_block_content_row_header">Bearbeiter:</div>
                <div class="detail_block_content_row_text">{{data['bearbeiter']}}</div>
            </section>
            <section class="detail_block_content_row">
                <div class="detail_block_content_row_header">letzte Änderung:</div>
                <div class="detail_block_content_row_text">{{data['datum']}}</div>
            </section>
        </div>
    </div>
    <div class="detail_block">
        <div class="detail_block_header">
            <span class="detail_block_header_text">Werk / Beitrag</span>
        </div>
        <div class="detail_block_content">
            <section class="detail_block_content_row">
                <div class="detail_block_content_row_header">Autor:</div>
                <div class="detail_block_content_row_text">{{data['autor']}}</div>
            </section>
            <section class="detail_block_content_row">
                <div class="detail_block_content_row_header">Titel:</div>
                <div class="detail_block_content_row_text">{{data['titel']}}</div>
            </section>
            <section class="detail_block_content_row">
                <div class="detail_block_content_row_header">Publikation:</div>
                <div class="detail_block_content_row_text">{{data['publikation']}}</div>
            </section>
            <section class="detail_block_content_row">
                <div class="detail_block_content_row_header">Band:</div>
                <div class="detail_block_content_row_text">{{data['band']}}</div>
            </section>
            <section class="detail_block_content_row">
                <div class="detail_block_content_row_header">Jahr(e):</div>
                <div class="detail_block_content_row_text">{{data['jahr']}}</div>
            </section>
            <section class="detail_block_content_row">
                <div class="detail_block_content_row_header">Seiten:</div>
                <div class="detail_block_content_row_text">{{data['seiten']}}</div>
            </section>
        </div>
    </div>
    <div class="detail_block">
        <div class="detail_block_header">
            <span class="detail_block_header_text">Zitiert in AE</span>
        </div>
        <div class="detail_block_content">
            <section class="detail_block_content_row">
                <div class="detail_block_content_row_header">&nbsp;</div>
                <div class="detail_block_content_row_text">{{data['ae']}}</div>
            </section>
        </div>
    </div>
    <div class="detail_block">
        <div class="detail_block_header">
            <span class="detail_block_header_text">Betrifft außerdem die Inschriften</span>
        </div>
        <div class="detail_block_content">
            <section class="detail_block_content_row">
                <div class="detail_block_content_row_header">AE</div>
                <div class="detail_block_content_row_text">{{data['zu_ae']}}</div>
            </section>
        </div>
        <div class="detail_block_content">
            <section class="detail_block_content_row">
                <div class="detail_block_content_row_header">CIL</div>
                <div class="detail_block_content_row_text">{{data['cil']}}</div>
            </section>
        </div>
        <div class="detail_block_content">
            <section class="detail_block_content_row">
                <div class="detail_block_content_row_header">Sonstige Corpora</div>
                <div class="detail_block_content_row_text">{{data['sonstigeCorpora']}}</div>
            </section>
        </div>
    </div>
</div>

{% endblock %}
