{% extends 'base.html' %}

{% block header %}
{% block title %}EDH: {{ title }} {% endblock %}
{% endblock %}

{% block app_content %}
<h1>{{ title }}</h1>
<div>
    <div class="detail_block">
        <div class="detail_block_header">
            <span class="detail_block_header_text">{{ _('Generic data') }}</span>
        </div>
        <div class="detail_block_content">
            <section class="detail_block_content_row">
                <div class="detail_block_content_row_header">{{ _("F-number") }}:</div>
                <div class="detail_block_content_row_text">{{data['f_nr']}}</div>
            </section>
            <section class="detail_block_content_row">
                <div class="detail_block_content_row_header">{{ _("responsible individual") }}:</div>
                <div class="detail_block_content_row_text">{{data['bearbeiter']}}</div>
            </section>
            <section class="detail_block_content_row">
                <div class="detail_block_content_row_header">{{ _("last update") }}:</div>
                <div class="detail_block_content_row_text">{{data['datum']}}</div>
            </section>
        </div>
    </div>
    <div class="detail_block">
        <div class="detail_block_header">
            <span class="detail_block_header_text">{{ _("Find circumstances / present location") }}</span>
        </div>
        <div class="detail_block_content">
            <section class="detail_block_content_row">
                <div class="detail_block_content_row_header">{{ _("province") }}:</div>
                <div class="detail_block_content_row_text">{{data['provinz']}}</div>
            </section>
            <section class="detail_block_content_row">
                <div class="detail_block_content_row_header">{{ _("country") }}:</div>
                <div class="detail_block_content_row_text">{{data['land']}}</div>
            </section>
            <section class="detail_block_content_row">
                <div class="detail_block_content_row_header">{{ _("ancient find spot") }}:</div>
                <div class="detail_block_content_row_text">{{data['fo_antik']}}</div>
            </section>
            <section class="detail_block_content_row">
                <div class="detail_block_content_row_header">{{ _("modern find spot") }}:</div>
                <div class="detail_block_content_row_text">{{data['fo_modern']}}</div>
            </section>
            <section class="detail_block_content_row">
                <div class="detail_block_content_row_header">{{ _("present location") }}:</div>
                <div class="detail_block_content_row_text">{{data['aufbewahrung']}}</div>
            </section>
        </div>
    </div>
    <div class="detail_block">
        <div class="detail_block_header">
            <span class="detail_block_header_text">{{ _("Picture") }}</span>
        </div>
        <div class="detail_block_content">
            <section class="detail_block_content_row">
                <div class="detail_block_content_row_header">{{ _("original image") }}</div>
                <div class="detail_block_content_row_text">{{data['neg_nr']}}</div>
            </section>
        </div>
        <div class="detail_block_content">
            <section class="detail_block_content_row">
                <div class="detail_block_content_row_header">{{ _("date of photograph") }}</div>
                <div class="detail_block_content_row_text">{{data['aufnahme_jahr']}}</div>
            </section>
        </div>
        <div class="detail_block_content">
            <section class="detail_block_content_row">
                <div class="detail_block_content_row_header">{{ _("quality") }}</div>
                <div class="detail_block_content_row_text">{{data['qualitaet']}}</div>
            </section>
        </div>
    </div>
    <div class="detail_block" style="margin-bottom:2em;">
        <div class="detail_block_header">
            <span class="detail_block_header_text">{{ _("Literature") }}</span>
        </div>
        <div class="detail_block_content">
            <section class="detail_block_content_row">
                <div class="detail_block_content_row_header">AE</div>
                <div class="detail_block_content_row_text">{{data['zu_ae']}}</div>
            </section>
        </div>
        <div class="detail_block_content">
            <section class="detail_block_content_row">
                <div class="detail_block_content_row_header">CIL</div>
                <div class="detail_block_content_row_text">{{data['cil']}}</div>
            </section>
        </div>
        <div class="detail_block_content">
            <section class="detail_block_content_row">
                <div class="detail_block_content_row_header">{{ _("other corpora") }}</div>
                <div class="detail_block_content_row_text">{{data['sonstigeCorpora']}}</div>
            </section>
        </div>
    </div>
</div>

{% endblock %}
