{% extends 'base.html' %}

{% block header %}
{% block title %}EDH: {{ title }} {% endblock %}
{% endblock %}

{% block app_content %}
<h1>{{ title }}</h1>
<h2>{{ subtitle }}: {{data['f_nr']}}</h2>
<h3 class="uri">{{ _("Canonical URI") }}:<br class="visible-xs" />
    <span id="canonical_uri">
        <a href="https://edh-www.adw.uni-heidelberg.de/edh/foto/{{data['f_nr']}}">
            https://edh-www.adw.uni-heidelberg.de/edh/foto/{{data['f_nr']}}
            ({% if data['aufschrift'] %}{{data['aufschrift']}}. {%endif%}{{_('Last Updates')}}: {{data['datum']}}, {{data['bearbeiter']}})
        </a>
        <i class="far fa-copy fa-lg" style="color:#1F6B3B; padding-bottom:0px; cursor:pointer; margin-left:.5em;margin-right:.5em" onclick="copy2clipboard('{{ _('copied!') }}')" alt="{{ _('Copy URI to clipboard')}}" title="{{ _('Copy URI to clipboard')}}"></i>
    </span>
    <span id="copy_button" style="color:#aa2222; font-size:0.7em"></span>
</h3>
<div>
    <div id="map" style="margin-top:2em; height:400px; width: 100%; border: 1px solid #333;"></div>
    <!--<div style="margin-top:1em;"><img src=".{{url_for('static', filename='img/iiif_logo.png')}}" style="height:30px" /> <a href="https://edh-www.adw.uni-heidelberg.de/iiif/edh/{{data['f_nr']}}.manifest.json">Manifest URI: https://edh-www.adw.uni-heidelberg.de/iiif/edh/{{data['f_nr']}}.manifest.json</a></div> -->
    <div style="margin-top:1em;"><img src=".{{url_for('static', filename='img/iiif_logo.png')}}" style="height:30px" /> <a href="https://edh-www.adw.uni-heidelberg.de/iiif/edh/{{data['f_nr']}}.manifest.json">Manifest URI: https://edh-www.adw.uni-heidelberg.de/iiif/edh/{{data['f_nr']}}.manifest.json</a></div>
    <div>
        <h3>{{ _("Find circumstances / present location") }}</h3>
        <div class="detail_block_content">
            <section class="detail_block_content_row">
                <div class="detail_block_content_row_header">{{ _("province") }}:</div>
                <div class="detail_block_content_row_text">{{data['provinz']}}</div>
            </section>
            <section class="detail_block_content_row">
                <div class="detail_block_content_row_header">{{ _("country") }}:</div>
                <div class="detail_block_content_row_text">{{data['land']}}</div>
            </section>
            <section class="detail_block_content_row">
                <div class="detail_block_content_row_header">{{ _("ancient find spot") }}:</div>
                <div class="detail_block_content_row_text">{% if data['fo_antik'] %}{{data['fo_antik']}}{%else%}&nbsp;{%endif%}</div>
            </section>
            <section class="detail_block_content_row">
                <div class="detail_block_content_row_header">{{ _("modern find spot") }}:</div>
                <div class="detail_block_content_row_text">{% if data['fo_modern'] %}{{data['fo_modern']}}{%else%}&nbsp;{%endif%}</div>
            </section>
            <section class="detail_block_content_row">
                <div class="detail_block_content_row_header">{{ _("present location") }}:</div>
                <div class="detail_block_content_row_text">{% if data['aufbewahrung'] %}{{data['aufbewahrung']}}{%else%}&nbsp;{%endif%}</div>
            </section>
        </div>
    </div>
    <div>
        <h3>{{ _("Picture") }}</h3>
        <div class="detail_block_content">
            <section class="detail_block_content_row">
                <div class="detail_block_content_row_header">{{ _("original image") }}:</div>
                <div class="detail_block_content_row_text">{% if data['neg_nr'] %}{{data['neg_nr']}}{%else%}&nbsp;{%endif%}</div>
            </section>
            <section class="detail_block_content_row">
                <div class="detail_block_content_row_header">{{ _("date of photograph") }}:</div>
                <div class="detail_block_content_row_text">{% if data['aufnahme_jahr'] %}{{data['aufnahme_jahr']}}{%else%}&nbsp;{%endif%}</div>
            </section>
            <section class="detail_block_content_row">
                <div class="detail_block_content_row_header">{{ _("quality") }}:</div>
                <div class="detail_block_content_row_text">{% if data['qualitaet'] %}{{data['qualitaet']}}{%else%}&nbsp;{%endif%}</div>
            </section>
        </div>
    </div>
    <div>
        <h3>{{ _("Literature") }}</h3>
        <div class="detail_block_content">
            <section class="detail_block_content_row">
                <div class="detail_block_content_row_header">AE:</div>
                <div class="detail_block_content_row_text">
                    {% if data['ae']%}{{data['ae']}}{%else%}&nbsp;{%endif%}
                </div>
            </section>
            <section class="detail_block_content_row">
                <div class="detail_block_content_row_header">CIL:</div>
                <div class="detail_block_content_row_text">
                    {% if data['cil']%}{{data['cil']}}{%else%}&nbsp;{%endif%}
                </div>
            </section>
            <section class="detail_block_content_row">
                <div class="detail_block_content_row_header">{{ _("other corpora") }}:</div>
                <div class="detail_block_content_row_text">
                    {% if data['andere']%}{{data['andere']}}{%else%}&nbsp;{%endif%}
                </div>
            </section>
        </div>
    </div>
    {% if data['hd_nr'] %}
    <div>
        <h3>{{ _("Inschrift") }}</h3>
        <div class="detail_block_content">
            <section class="detail_block_content_row">
                <div class="detail_block_content_row_header">{{_("HD-No.")}}:</div>
                <div class="detail_block_content_row_text">
                    <i class="fas fa-external-link-alt"></i>
                    <a href="/edh/inschrift/{{data['hd_nr']}}">{{data['hd_nr']}}</a>
                </div>
            </section>
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}
{% block scripts %}
{{ super() }}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"
    integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw=="
    crossorigin=""></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.rawgit.com/mejackreed/Leaflet-IIIF/v2.0.1/leaflet-iiif.js"></script>
<script src=".{{url_for('static', filename='js/copy2clipboard.js')}}"></script>
<script>
var map;
var iiifLayers = {};
map = L.map('map', {
    center: [0, 0],
    crs: L.CRS.Simple,
    zoom: 0,
    zoomSnap: 0,
    zoomDelta: 0.25
});
var manifestUrl = 'https://edh-www.adw.uni-heidelberg.de/iiif/edh/{{data['f_nr']}}.manifest.json';
$.getJSON(manifestUrl, function(data) {
    $.each(data.sequences[0].canvases, function(_, val) {
        iiifLayers[val.label] = L.tileLayer.iiif(val.images[0].resource.service['@id'] + '/info.json');
    });
    iiifLayers[Object.keys(iiifLayers)[0]].addTo(map);
});
</script>
{% endblock %}
