{% extends 'base.html' %}

{% block header %}
{% block title %}EDH: {{ title }} {% endblock %}
{% endblock %}

{% block app_content %}
<h1>{{ title }}</h1>
<h2>{{ data['titel'] }}</h2>
<h3 class="uri">{{ _("Canonical URI") }}:<br class="visible-xs" />
    <span id="canonical_uri">
        <a href="/edh/inschrift/{{data['hd_nr']}}">
            https://edh-www.adw.uni-heidelberg.de/edh/inschrift/{{data['hd_nr']}}
            ({{_('Last Updates')}}: {{data['datum']}}, {{data['bearbeiter']}})
        </a>
        <i class="far fa-copy fa-lg" style="color:#1F6B3B; padding-bottom:0px; cursor:pointer; margin-left:.5em;margin-right:.5em" onclick="copy2clipboard('{{ _('copied!') }}')" alt="{{ _('Copy URI to clipboard')}}" title="{{ _('Copy URI to clipboard')}}"></i>
    </span>
    <span id="copy_button" style="color:#aa2222; font-size:0.7em"></span>
</h3>

<!--<div><span id="toggleLinebreaks" onClick="toggleLinebreaks()" style="cursor: pointer;font-size:.7em;">Show Linebreaks</span></div>-->

<div>
    <div class="detail_block">
        <div class="inschrift-kurzansicht">
            <div id="data" class="" style="padding-left:5px;hyphens: none;">
                <div style="margin-bottom:1em;"><strong>{{_('Transcription')}}</strong>:<br/>{{data['atext']}}</div>
                <div style="margin-bottom:1em;"><strong>{{_('Majuscle')}}</strong>:<br/>{{data['btext'] | replace("/", "<br/>" | safe)}}</div>
                {% if data['datierung'] %}
                    <div style="margin-bottom:1em;"><strong>{{_('Chronological Data')}}</strong>:<br/>{{data['datierung'] | safe}}</div>
                {% endif%}
                <div style="margin-bottom:1em;"><strong>{{_('Literature')}}</strong>:<br/>{{data['literatur'] | replace("#", "<br>") | safe }}</div>
            </div>
        </div>
    </div>
</div>
<hr/>
<div>
    <section class="regular slider" style="margin-top:1em;margin-bottom:1em;">
    {% for foto in data['foto_nr']%}
    <div>
        <a href="./edh/foto/{{foto | replace("f","F") }}"><img src="https://edh-www.adw.uni-heidelberg.de/fotos/{{foto | replace("f","F") }}.JPG" style="max-height:150px; max-width:150px; border: 1px solid #ccc;"></a>
    </div>
    {% endfor %}
  </section>
</div>
<hr/>
<h3>{{_('Find circumstances / present location')}}</h3>
<div>
    <div class="detail_block">
        <div class="detail_block_content">
            <section class="detail_block_content_row">
                <div class="detail_block_content_row_header">{{_('province')}}:</div>
                <div id="provinz" class="detail_block_content_row_text">{{data['provinz']}}</div>
            </section>
            <section class="detail_block_content_row">
                <div class="detail_block_content_row_header">{{_('country')}}:</div>
                <div id="land" class="detail_block_content_row_text">{{data['land']}}</div>
            </section>
            <section class="detail_block_content_row">
                <div class="detail_block_content_row_header">{{_('ancient find spot')}}:</div>
                <div id="fo_antik" class="detail_block_content_row_text">{% if data['fo_antik'] %}{{data['fo_antik']}}{% endif %}</div>
            </section>
            <section class="detail_block_content_row">
                <div class="detail_block_content_row_header">{{_('modern find spot')}}:</div>
                <div id="fo_modern" class="detail_block_content_row_text">{% if data['fo_modern'] %}{{data['fo_modern']}}{% endif %}</div>
            </section>
            <section class="detail_block_content_row">
                <div class="detail_block_content_row_header">{{_('find spot')}}:</div>
                <div id="fundstelle" class="detail_block_content_row_text">{% if data['fundstelle'] %}{{data['fundstelle']}}{% endif %}</div>
            </section>
            <section class="detail_block_content_row">
                <div class="detail_block_content_row_header">{{_('modern region')}}:</div>
                <div id="region" class="detail_block_content_row_text">{% if data['verw_bezirk'] %}{{data['verw_bezirk']}}{% endif %}</div>
            </section>
            {% if data['fundjahr']%}
            <section class="detail_block_content_row">
                <div class="detail_block_content_row_header">{{_('year of find')}}:</div>
                <div id="fundjahr" class="detail_block_content_row_text">{% if data['fundjahr'] %}{{data['fundjahr']}}{% endif %}</div>
            </section>
            {% endif %}
            {% if data['aufbewahrung']%}
            <section class="detail_block_content_row">
                <div class="detail_block_content_row_header">{{_('present location')}}:</div>
                <div id="aufbewahrung" class="detail_block_content_row_text">{% if data['aufbewahrung'] %}{{data['aufbewahrung']}}{% endif %}</div>
            </section>
            {% endif %}
        </div>
    </div>
</div>
<h3>{{_('Type of inscription / language')}}</h3>
<div>
    <div class="detail_block">
        <div class="detail_block_content">
            {% if data['i_gattung_str'] %}
            <section class="detail_block_content_row">
                <div class="detail_block_content_row_header">{{_('type of inscription')}}:</div>
                <div id="i_gattung" class="detail_block_content_row_text">{{data['i_gattung_str']}}</div>
            </section>
            {% endif %}
            <section class="detail_block_content_row">
                <div class="detail_block_content_row_header">{{_('language')}}:</div>
                <div id="lang" class="detail_block_content_row_text">{{data['nl_text']}}</div>
            </section>
        </div>
    </div>
</div>
{% if data['i_traeger_str'] or data['material'] or data['hoehe'] or data['breite'] or data['tiefe'] or data['bh'] or data['dekor'] %}
<h3>{{_('Type of monument')}}</h3>
<div>
    <div class="detail_block">
        <div class="detail_block_content">
            {% if data['i_traeger_str'] %}
            <section class="detail_block_content_row">
                <div class="detail_block_content_row_header">{{_('type of monument')}}:</div>
                <div id="i_traeger" class="detail_block_content_row_text">{{data['i_traeger_str']}}</div>
            </section>
            {% endif %}
            {% if data['material'] %}
            <section class="detail_block_content_row">
                <div class="detail_block_content_row_header">{{_('material')}}:</div>
                <div id="material" class="detail_block_content_row_text">{{data['material']}}</div>
            </section>
            {% endif %}
            {% if data['hoehe'] %}
            <section class="detail_block_content_row">
                <div class="detail_block_content_row_header">{{_('height')}}:</div>
                <div id="hoehe" class="detail_block_content_row_text">{{data['hoehe']}} cm</div>
            </section>
            {% endif %}
            {% if data['breite'] %}
            <section class="detail_block_content_row">
                <div class="detail_block_content_row_header">{{_('width')}}:</div>
                <div id="breite" class="detail_block_content_row_text">{{data['breite']}} cm</div>
            </section>
            {% endif %}
            {% if data['tiefe'] %}
            <section class="detail_block_content_row">
                <div class="detail_block_content_row_header">{{_('depth')}}:</div>
                <div id="tiefe" class="detail_block_content_row_text">{{data['tiefe']}} cm</div>
            </section>
            {% endif %}
            {% if data['bh'] %}
            <section class="detail_block_content_row">
                <div class="detail_block_content_row_header">{{_('letter size')}}:</div>
                <div id="bh" class="detail_block_content_row_text">{{data['bh']}} cm</div>
            </section>
            {% endif %}
            {% if data['dekor'] %}
            <section class="detail_block_content_row">
                <div class="detail_block_content_row_header">{{_('decoration')}}:</div>
                <div id="dekoration" class="detail_block_content_row_text">{{data['dekor']}}</div>
            </section>
            {% endif %}
        </div>
    </div>
</div>
{% endif %}
{% if data['kommentar'] %}
<h3>{{_('Commentary')}}</h3>
<div>
    <div class="detail_block">
        <div class="detail_block_content">
            <section class="detail_block_content_row">
                <div class="detail_block_content_row_header">&nbsp;</div>
                <div id="kommnetar" class="detail_block_content_row_text">{{data['kommentar']}}</div>
            </section>
        </div>
    </div>
</div>
{% endif %}
<h3>{{_('Palaeography')}}</h3>
<div>
    <div class="detail_block">
        <div class="detail_block_content">

        </div>
    </div>
</div>
<h3>{{_('General Data')}}</h3>
<div class="detail_block" style="margin-bottom:3em;">
    <div class="detail_block_content">
        <section class="detail_block_content_row">
            <div class="detail_block_content_row_header">HD-Nr:</div>
            <div class="detail_block_content_row_text">{{data['hd_nr']}}</div>
        </section>
        {% if data['gdb_id']  %}
        <section class="detail_block_content_row">
            <div class="detail_block_content_row_header">GDB_ID:</div>
            <div class="detail_block_content_row_text">{{data['gdb_id']}}</div>
        </section>
        {% endif %}
        <section class="detail_block_content_row">
            <div class="detail_block_content_row_header">Bearbeitungsstand:</div>
            <div class="detail_block_content_row_text">{{data['beleg']}}</div>
        </section>
        <section class="detail_block_content_row">
            <div class="detail_block_content_row_header">Bearbeiter:</div>
            <div class="detail_block_content_row_text">{{data['bearbeiter']}}</div>
        </section>
        <section class="detail_block_content_row">
            <div class="detail_block_content_row_header">letzte Änderung:</div>
            <div class="detail_block_content_row_text">{{data['datum']}}</div>
        </section>
    </div>
</div>


<script>
    function toggleLinebreaks() {
        status = document.getElementById("toggleLinebreaks").innerHTML
        if (status == "Show Linebreaks"){
            document.getElementById("atext").innerHTML = "{{data['atext_br']}}"
            document.getElementById("btext").innerHTML = "{{data['btext_br']}}"
            document.getElementById("toggleLinebreaks").innerHTML = "Remove Linebreaks"
        } else {
            document.getElementById("atext").innerHTML = "{{data['atext']}}"
            document.getElementById("btext").innerHTML = "{{data['btext']}}"
            document.getElementById("toggleLinebreaks").innerHTML = "Show Linebreaks"
        }
    }
</script>

{% endblock %}
{% block scripts %}
{{ super() }}
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"></script>
<script src="./static/js/copy2clipboard.js"></script>
<script src="./static_geo/js/bing.js"></script>
<script src='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet' />
<script src="./static/js/slick/slick.min.js" type="text/javascript" charset="utf-8"></script>
<link rel="stylesheet" type="text/css" href="./static/js/slick/slick.css">
<link rel="stylesheet" type="text/css" href="./static/js/slick/slick-theme.css">

<script type="text/javascript">


    $(".regular").slick({
        dots: true,
        infinite: false,
        slidesToShow: 4,
        slidesToScroll: 3,
        centerMode: false,
        initialSlide: 0,
        swipeToSlide: true,
      });
</script>
{% endblock %}
