{% extends "base.html" %}

{% block app_content %}
<h1>{{ title }}</h1>
<h2>{{ subtitle }}</h2>

<form action="" method="get">
    <div class="form-group row">
        {{ form.hd_nr.label(class='col-sm-2 col-form-label') }}
        <div class="col-sm-10">
            {{ form.hd_nr(class='form-control') }}
        </div>
    </div>
    <div class="form-group row">
        {{ form.provinz.label(class='col-sm-2 col-form-label') }}
        <div class="col-sm-10">
            {{ form.provinz(class='form-control selectpicker', title=_('select one or more entries...')) }}
        </div>
    </div>
    <div class="form-group row">
        {{ form.land.label(class='col-sm-2 col-form-label') }}
        <div class="col-sm-10">
            {{ form.land(class='form-control selectpicker', title=_('select one or more entries...')) }}
        </div>
    </div>
    <div class="form-group row">
        {{ form.fo_antik.label(class='col-sm-2 col-form-label') }}
        <div class="col-sm-10">
            {{ form.fo_antik(class='form-control autocomplete ui-autocomplete-input', id='ancient_find_spot') }}
        </div>
    </div>
    <div class="form-group row">
        {{ form.fo_modern.label(class='col-sm-2 col-form-label') }}
        <div class="col-sm-10">
            {{ form.fo_modern(class='form-control autocomplete ui-autocomplete-input', id='modern_find_spot') }}
        </div>
    </div>
    <div class="form-group row">
        {{ form.fundstelle.label(class='col-sm-2 col-form-label') }}
        <div class="col-sm-10">
            {{ form.fundstelle(class='form-control autocomplete ui-autocomplete-input', id='find_spot') }}
        </div>
    </div>
    <div class="form-group row">
        {{ form.literatur.label(class='col-sm-2 col-form-label') }}
        <div class="col-sm-10">
            {{ form.literatur(class='form-control') }}
        </div>
    </div>
    <div class="form-group row">
        <label class='col-sm-2 col-form-label' style="margin-bottom: 0px;">{{ _('year')}} <span class="hlp" id="hlp_datierung"><i class="fa fa-question"></i></span></label>
        <div class="col-sm-10" style="padding-right:22px;padding-top:7px;padding-bottom:0px">
        <input id="dat_str" readonly style="margin-left:0em;margin-top:0px;padding-bottom:10px; padding-right:10px;border:0px" name="jahre" value="600 {{_('BC')}} - 1500 {{_('AD')}}"></input> {{ form.dat_erweitert() }} {{ form.dat_erweitert.label() }} <br />
        <div style="margin-bottom:3em;margin-right:7px;margin-left:15px;" id="slider"></div></div>
    </div>
    
    <div class="form-group row">
        <label class="col-sm-2  col-form-label">{{ _("search string(s)")}}</label>
        <div class="col-sm-3">
            {{ form.atext1(class='form-control') }}
        </div>
        <div class="col-sm-3" style="padding-left:2em;padding-right:2em;">
            {{ form.bool(class='form-control') }}
        </div>
        <div class="col-sm-3">
            {{ form.atext2(class='form-control') }}
        </div>
    </div>
    
    <div class="form-group row">
        <label class="col-sm-2  col-form-label"></label>
        <div class="col-sm-6">
            {{ form.casesensitive() }} {{ form.casesensitive.label() }} <br/>
            {{ form.brackets() }} {{ form.brackets.label() }}
        </div>
    </div>

    <hr />
    <p>{{_("Search Options")}}</p>

    <div class="form-group row">
        <label class="col-sm-2  col-form-label"></label>
        <div class="col-sm-6">
            {{ form.beleg89() }} {{ form.beleg89.label() }} </br />
            {{ form.vollstaendig() }} {{ form.vollstaendig.label() }} <br/>
            {{ form.nurMitFoto() }} {{ form.nurMitFoto.label() }} 
        </div>
    </div>

    <div class="form-group row">
        {{ form.sort.label(class='col-sm-2 col-form-label') }}
        <div class="col-sm-10">
            {{ form.sort(class='form-control', style='width:20%') }}
        </div>
    </div>
    <div class="form-group row">
        {{ form.anzahl.label(class='col-sm-2 col-form-label') }}
        <div class="col-sm-10">
            {{ form.anzahl(class='form-control', style='width:20%') }}
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary btn-lg">{{ _('Search...') }}</button> <button type="reset" id="reset" class="btn btn-secondary btn-lg" style="margin-left:1em;">{{ _('Reset...') }}</button>
        </div>
    </div>
</form>
<div id="dlg_hd_nr" title="{{_('HD-No.')}}">{{_("hlp_hd_nr")}}</div>
<div id="dlg_provinz" title="{{_('province')}}">{{_("hlp_provinz")}}</div>
<div id="dlg_land" title="{{_('country')}}">{{_("hlp_land")}}</div>
<div id="dlg_fo_antik" title="{{_('fo_antik')}}">{{_("hlp_fo_antik")}}</div>
<div id="dlg_fo_modern" title="{{_('fo_modern')}}">{{_("hlp_fo_modern")}}</div>
<div id="dlg_fundstelle" title="{{_('fundstelle')}}">{{_("hlp_fundstelle")}}</div>
<div id="dlg_literatur" title="{{_('literature')}}">{{_("hlp_literatur")}}</div>
<div id="dlg_datierung" title="{{_('chronology')}}">{{_("hlp_datierung")}}</div>

{% endblock %}
{% block scripts %}
{{ super() }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.12/css/bootstrap-select.min.css" integrity="sha256-l3FykDBm9+58ZcJJtzcFvWjBZNJO40HmvebhpHXEhC0=" crossorigin="anonymous" />
<link href=".{{url_for('static', filename='css/nouislider.min.css')}}" rel="stylesheet">
<link href=".{{url_for('static', filename='css/edh_styles.css')}}" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.12/js/bootstrap-select.min.js" integrity="sha256-+o/X+QCcfTkES5MroTdNL5zrLNGb3i4dYdWPWuq6whY=" crossorigin="anonymous"></script>
<script src=".{{url_for('static', filename='js/nouislider.min.js')}}"></script>
<script>
    $("input#modern_find_spot").autocomplete({source:"./inschrift/ac/fo_modern",minLength:3,delay:0})
    $("input#ancient_find_spot").autocomplete({source:"./inschrift/ac/fo_antik",minLength:3,delay:0})
    $("input#find_spot").autocomplete({source:"./inschrift/ac/fundstelle",minLength:3,delay:0})
    $("select").selectpicker();
    $('#reset').click(function(){
        $(".selectpicker").val('');
        $(".selectpicker").selectpicker("refresh");
    })
    
    var slider = document.getElementById('slider');
    noUiSlider.create(slider, {
        start: [-600, 1500],
        connect: true,
        tooltips: true,
        pips: {
            mode: 'values',
                values: [-600, -300, 1, 200, 500, 1000, 1500],
                density: 5
        },
        range: {
            'min': -600,
            'max': 1500
        },
        format: {
            to: function (value) {
                if (Math.round(value)>0) 
                    return Math.round(value) + " {{ _('AD')}}";
                else
                    jahr = value * -1
                    return Math.round(jahr) + " {{ _('BC')}}";
            },
            from: function (value) {
                return Number(value);
            }
        }
    });
    
    slider.noUiSlider.on("update", function(values, handle, unencoded ) {
        var dat_jahr_a = values[0];
        var dat_jahr_e = values[1];
        if (dat_jahr_a < 1) dat_jahr_a = dat_jahr_a * -1
        $( "#dat_str" ).val(dat_jahr_a + " - " + dat_jahr_e);
    });


    $( function() {
        $( "#dlg_hd_nr" ).dialog({
            autoOpen: false
        });
        $( "#hlp_hd_nr" ).on( "click", function() {
            $( "#dlg_hd_nr" ).dialog( "open" );
        });
        $( "#dlg_provinz" ).dialog({
            autoOpen: false
        });
        $( "#hlp_provinz" ).on( "click", function() {
            $( "#dlg_provinz" ).dialog( "open" );
        });
        $( "#dlg_land" ).dialog({
            autoOpen: false
        });
        $( "#hlp_land" ).on( "click", function() {
            $( "#dlg_land" ).dialog( "open" );
        });
        $( "#dlg_fo_antik" ).dialog({
            autoOpen: false
        });
        $( "#hlp_fo_antik" ).on( "click", function() {
            $( "#dlg_fo_antik" ).dialog( "open" );
        });
        $( "#dlg_fo_modern" ).dialog({
            autoOpen: false
        });
        $( "#hlp_fo_modern" ).on( "click", function() {
            $( "#dlg_fo_modern" ).dialog( "open" );
        });
        $( "#dlg_fundstelle" ).dialog({
            autoOpen: false
        });
        $( "#hlp_fundstelle" ).on( "click", function() {
            $( "#dlg_fundstelle" ).dialog( "open" );
        });
        $( "#dlg_literatur" ).dialog({
            autoOpen: false
        });
        $( "#hlp_literatur" ).on( "click", function() {
            $( "#dlg_literatur" ).dialog( "open" );
        });
        $( "#dlg_datierung" ).dialog({
            autoOpen: false
        });
        $( "#hlp_datierung" ).on( "click", function() {
            $( "#dlg_datierung" ).dialog( "open" );
        });
    });
  </script>

</script>
{% endblock %}